.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

  @media (max-width: 960px) {
    flex-direction: column;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.card {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;

  &:not(:last-child) {
    margin-right: 20px;

    @media (max-width: 960px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}

.cardImg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 330px;
  width: 300px;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  border: 3px solid #161c16;
  position: relative;

  &::after {
    position: absolute;
    background: #161c16;
    content: "";
    width: 200px;
    height: 4px;
    bottom: 20px;
  }
}

.albumsImg {
  background-image: url("../../img/Albums.jpg");
}

.postsImg {
  background-image: url("../../img/Posts.jpg");
}

.todosImg {
  background-image: url("../../img/Todos.jpg");
}
