*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  align-items: center;
}

.card {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.cardImg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 330px;
  width: 300px;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
  border: 3px solid #605f5e;
  position: relative;

  &::after {
    position: absolute;
    background: #605f5e;
    content: "";
    width: 200px;
    height: 4px;
    bottom: 20px;
  }
}

.albumsImg {
  background-image: url("../../img/Albums.jpg");
}

.postsImg {
  background-image: url("../../img/Posts.jpg");
}

.todosImg {
  background-image: url("../../img/Todos.jpg");
}
